Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -1
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
BinPackArguments:        false
BinPackParameters:       false
BraceWrapping:
  AfterClass:            false
  AfterControlStatement: false
  AfterEnum:             true
  AfterFunction:         false
  AfterNamespace:        false
  AfterObjCDeclaration:  false
  AfterStruct:           false
  AfterUnion:            false
  AfterExternBlock:      false
  BeforeCatch:           false
  BeforeElse:            false
  IndentBraces:          false
  SplitEmptyFunction:    true
  SplitEmptyRecord:      true
  SplitEmptyNamespace:   true
BreakBeforeBraces: Stroustrup
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
IndentWidth: 4
AllowShortIfStatementsOnASingleLine: false
