ClockKit/.depend
ClockKit/*.gcda
ClockKit/*.gcno
ClockKit/*.o
ClockKit/ckphaselock
ClockKit/ckserver
ClockKit/cktest-standalone
ClockKit/config-remote*.sh
ClockKit/Rules.debug*
ClockKit/python/clockkit.py
ClockKit/*/wrap.cpp
ClockKit/*/wrap.o
ClockKit/*/*.so
